{% extends 'login_navbar.html.twig' %}
{% block content %}

<div class="container">
<h1>Login</h1>
        <form method="post">
    <div class="form-group">
        <label for="username">Username: </label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input type="text" class="form-control" id="username" name="username" placeholder="username">
        </div>

    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" name="loginSubmit">Send</button>
    </form>
    <small class="pull-right"><a href="register.php">Sign up</a></small>
    </div>
    {% endblock %}
